<template>
  <div>
    <div class="flex items-center justify-center pt-3">
      <img
        src="https://order.thecoffeehouse.com/_nuxt/img/store-icon.eb4e4fc.svg"
        alt=""
        class="fa fa-newspaper text-[#ef8c1e] mr-3 text-2xl"
      />
      <div class="text-3xl font-semibold">
        Hệ thống cửa hàng The Coffee House
      </div>
    </div>
    <div v-for="store in stores" :key="store.id">
      <div>{{ store.pu_city }}</div>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { Stores } from "@/models/stores/Stores";
defineProps<{
  stores: Stores[] | undefined;
}>();
</script>
