<script setup lang="ts">
import type { Menu } from "@/models/order/Menu";
import { OrderService } from "@/services/OrderService";
import useSWRV from "swrv";

import { computed, ref } from "@vue/reactivity";
import type { Product } from "@/models/order/Product";
import Detail from "../../components/order/Detail.vue";

const { data: menudata } = useSWRV<Menu[]>("menu", OrderService.getMenu);

const activeItemId = ref(1);
const activeProductId = ref("");

const products = computed(() => {
  return (
    menudata.value?.find((i) => i.id === activeItemId.value)?.products ?? []
  );
});

const optionProducts = computed(() => {
  return products.value?.find((i) => i.id)?.options ?? [];
});

// const itemProducts = computed(() => {
//   return optionProducts.value?.find((i) => i.items)?.items ?? [];
// });

const itemSize = computed(() => {
  return optionProducts.value?.find((i) => i.name)?.items ?? [];
});

const itemTopping = computed(() => {
  return optionProducts.value?.find((i) => i.group_id)?.items ?? [];
});

//  dùng reduce

const arrProduct = menudata.value?.reduce(
  (previousValue: Product[], currentValue: Menu) =>
    previousValue.concat(currentValue.products),
  []
);
</script>

<template>
  <main>
    <Detail
      :products="products"
      :arr-product="arrProduct"
      :active-product-id="activeProductId"
      :option-products="optionProducts"
      :item-size="itemSize"
      :item-topping="itemTopping"
    />
  </main>
</template>
