<script setup lang="ts">
import MenuItems from "../../components/order/MenuItems.vue";
import type { Menu } from "@/models/order/Menu";
import { OrderService } from "@/services/OrderService";
import useSWRV from "swrv";

import { computed, ref } from "@vue/reactivity";
import ProductListing from "../../components/order/ProductListing.vue";
import type { Product } from "@/models/order/Product";
import SearchProduct from "../../components/order/SearchProduct.vue";

const { data: menudata } = useSWRV<Menu[]>("menu", OrderService.getMenu);

const activeItemId = ref(1);
const searchProduct = ref();
const activeProductId = ref("");

const products = computed(() => {
  return (
    menudata.value?.find((i) => i.id === activeItemId.value)?.products ?? []
  );
});

const optionProducts = computed(() => {
  return products.value?.find((i) => i.id)?.options ?? [];
});

// const itemProducts = computed(() => {
//   return optionProducts.value?.find((i) => i.items)?.items ?? [];
// });

const itemSize = computed(() => {
  return optionProducts.value?.find((i) => i.name)?.items ?? [];
});

const itemTopping = computed(() => {
  return optionProducts.value?.find((i) => i.group_id)?.items ?? [];
});

const filterProducts = computed(() => {
  return arrProduct?.filter((i: Product) => {
    return i.name.toLowerCase().includes(searchProduct.value?.toLowerCase());
  });
});
//  dùng reduce

const arrProduct = menudata.value?.reduce(
  (previousValue: Product[], currentValue: Menu) =>
    previousValue.concat(currentValue.products),
  []
);

const setActiveItemId = (id: number) => {
  activeItemId.value = id;
};

const setActiveProductId = (id: string) => {
  activeProductId.value = id;
};
</script>

<template>
  <main>
    <MenuItems
      :menudata="menudata"
      :active-item-id="activeItemId"
      @active-change="setActiveItemId"
    >
      <template #menu>
        <SearchProduct
          :filter-products="filterProducts"
          v-model:search-product="searchProduct"
      /></template>
    </MenuItems>

    <ProductListing
      :products="products"
      :active-product-id="activeProductId"
      @active-change-product="setActiveProductId"
      :option-products="optionProducts"
      :item-size="itemSize"
      :item-topping="itemTopping"
    >
    </ProductListing>
    <!-- <Detail
      :products="products"
      :active-product-id="activeProductId"
      :option-products="optionProducts"
      :item-size="itemSize"
      :item-topping="itemTopping"
    /> -->
  </main>
</template>
