<template>
  <div>
    <div v-for="arr in optionProducts" :key="arr.id">
      <div></div>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { Product } from "@/models/order/Product";

defineProps<{
  optionProducts: Product[] | undefined;
}>();
</script>
