<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <header
    class="bg-gradient-to-r from-[#ffac3c] to-[#fb8d17] h-20 flex items-center sticky top-0 z-50"
  >
    <div class="flex items-center container mx-auto max-w-7xl pl-10 pr-5">
      <a href="/" class="mr-10">
        <img
          alt="The coffe house logo"
          src="@/assets/logo-tch.svg"
          class="h-3.5 w-41"
        />
      </a>

      <div
        class="bg-[#ef8c1e] rounded-full w-64 h-14 flex flex-row items-center mr-8 pl-2"
      >
        <img src="@/assets/Delivery2.png" alt="" class="h-10 w-10" />
        <div class="text-white pl-2 leading-5">
          <h5 class="font-medium">Giao hàng</h5>
          <p class="text-sm">Tại: Trương Công Định, phư...</p>
        </div>
        <img src="@/assets/arrow.svg" alt="" class="h-1.5 w-2" />
      </div>
      <nav class="text-white font-medium text-sm px-4 h-[21px]">
        <ul class="flex">
          <li class="hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/product-list">Đặt hàng</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/blogs">Tin tức</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/stores">Cửa hàng</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="/promotion">Khuyến mãi</RouterLink>
          </li>
          <li class="ml-6 hover:border-b-2 border-white pb-1.5">
            <RouterLink to="#">Tuyển dụng</RouterLink>
          </li>
        </ul>
      </nav>

      <div class="flex justify-end items-start ml-auto">
        <a href="/" class="mt-4">
          <span>
            <img src="@/assets/Login.png" alt="" class="w-10" />
          </span>
        </a>
        <a href="/" class="mt-1">
          <img src="@/assets/Carticon.png" alt="" class="carticon" />
        </a>
      </div>
    </div>
  </header>
  <RouterView />
</template>

<style>
@import "@fortawesome/fontawesome-free/css/all.min.css";
.carticon {
  width: 70px;
  height: 70px;
}
</style>
