<template>
  <!-- The button to open modal -->
  <label for="my-modal-3" class="modal-button">
    <div
      class="bg-[#e3e3e3] flex justify-center items-center rounded-lg w-8 h-8 ml-8"
    >
      <i class="fas fa-search text-[#838387] text-2xl"></i>
    </div>
  </label>

  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my-modal-3" class="modal-toggle" />
  <div class="modal">
    <div
      class="modal-box absolute top-[15%] max-h-[85%] rounded-lg p-0 w-[100%] max-w-[721px]"
    >
      <div class="border-b-[1px] p-4 flex justify-center items-center">
        <label for="my-modal-3" class="absolute left-10 text-2xl text-[#babcbd]"
          >✕</label
        >
        <h3 class="text-base font-medium pl-5">Tìm kiếm</h3>
      </div>
      <div class="pb-4 pt-9">
        <label class="relative block px-4">
          <span class="absolute inset-y-0 flex items-center">
            <i class="fas fa-search text-[#e5e6e9] text-base pl-3 pr-3"></i>
          </span>
          <input
            :value="searchProduct"
            @input="updateSearchProduct"
            type="text"
            placeholder="Tìm theo tên sản phẩm bạn quan tâm"
            class="placeholder:text-base placeholder:text-[#babcbd] block pl-14 pr-3 focus:outline-none input input-bordered w-full bg-[#fafafa] rounded-sm border-[#f1f1f1] outline-hidden"
          />
        </label>

        <div
          v-if="filterProducts"
          class="flex items-center flex-wrap container mx-auto"
        >
          <div
            v-for="dataProducts in filterProducts"
            :key="dataProducts.id"
            class="mt-4 mx-[10px] p-[8px] shadow-xl bg-[#FFFFFF] w-[329px] h-[116px] flex rounded-lg"
          >
            <img
              :src="dataProducts.thumbnail"
              alt=""
              class="w-[100px] h-[100px]"
            />
            <div class="pl-4">
              <div
                class="flex flex-wrap w-[196px] h-12 text-ellipsis overflow-hidden font-semibold mt-2 mb-2"
              >
                {{ dataProducts.name }}
              </div>

              <div class="flex items-center">
                <div>
                  <div class="text-sm">{{ dataProducts.price_str }}</div>
                </div>
                <div
                  class="bg-[#FA8C16] rounded-full h-[32px] w-[32px] flex items-center justify-center ml-auto my-auto"
                >
                  <img
                    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuODU3MTQgNi44NTcxNFYwSDkuMTQyODZWNi44NTcxNEgxNlY5LjE0Mjg2SDkuMTQyODZWMTZINi44NTcxNFY5LjE0Mjg2SDBWNi44NTcxNEg2Ljg1NzE0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg=="
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { Product } from "@/models/order/Product";
import { defineEmits } from "vue";

defineProps<{
  filterProducts: Product[] | undefined;
  searchProduct: any;
}>();

const emit = defineEmits(["update:searchProduct"]);
const updateSearchProduct = (e: Event) => {
  emit("update:searchProduct", (e.target as HTMLInputElement).value);
};
</script>
